*, 
*::after, 
*::before {
  box-sizing: border-box;
  font-family: fantasy, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(236,160,36);
  background: radial-gradient(circle, rgba(236,160,36,1) 38%, rgba(250,12,12,1) 100%);
}

.calculatorGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculatorGrid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid;
  outline: none;
}

.calculatorGrid > button:hover {
  background-color: rgb(183, 183, 183);
}

.spanTwo {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap:break-word;
  word-break: break-all;
  font-size: 2.5rem;
}

.output .previous-operand {
  font-size: 1.5rem;
  color: rgb(183, 183, 183);
}